


<section class="padding features">
    <div class="row text center book">
        <div class="column_12">
            <!-- <h1 class="padding" id="title">Welcome to Great Heights Family Medicine</h1> -->
            <h2 id="welcome-message" class="hide-phone">Welcome to Great Heights Family Medicine</h2>
                    <p id="welcome-message" class="show-phone">Welcome to Great Heights Family Medicine</p>
            <h2 class="padding text bold" id="intro"><i>The Doctor's Office You've Been Looking For.</i></h2>
                
                    
        </div>
    </div>
</section>

<script type="text/javascript">
        $.backstretch("<%= asset_path 'stethoscope.jpg'%>");
</script>  

    <section class="padding bck theme">
        <div class="row text center normal margin-top">
        	 <div class="column_4">
            	<%= link_to  weight_loss_path do %>
	                <h1 class="icon food color default"></h1>
	                <h4 class="text color default">Weight Loss</h4>
                <% end %>
                <br>
		                <p class="text normal">Physician-developed, lifestyle modification program focused on <strong>balancing the foods you already eat</strong>, not diets or meal replacements.</p>
            </div>

            <div class="column_4">
                <%= link_to  drug_treatment_path do %>
                	<h1 class="icon group color default"></h1>
                	<h4 class="text color default">Drug Treatment</h4>
            	<% end %>
            	<br>
		                <p class="text normal">We provide care for opioid dependence in a <strong>discreet</strong>, office setting, with counseling and special programs to encourage/celebrate the <strong>recovery</strong> of our patients.</p>
            </div>

            <div class="column_4">
            	<%= link_to  immigration_physicals_path do %>
	                <h1 class="icon flag color default"></h1>
	                <h4 class="text color default">Immigration Physicials</h4>
                <% end %>
                <br>
		                <p class="text normal">We specialize in <strong>USCIS Immigration Exams</strong>, supplying all of the offical medical documents you need to successfully complete the process.</p>
            </div>
        </div>
    </section>


    <section class="padding bck dark">
        <div class="row text center book margin-bottom">
            <div class="column_10 offset_1">
                <h1 class="color theme">Located in <span class="color white text bold">Calumet City</span> &amp; <span class="color white text bold">Ottawa</span>, IL</h1>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="offset_2 column_4">
                <a href="tel:5551234567" class="button large anchor" id="telephone-button"><span class="icon phone"></span>Give us a call at <br> (708) 862-8156 </a>
            </div>


            <div class="column_4">
                <a href="<%= contact_path %>" class="button large anchor secondary" id="inbox-button"><span class="icon envelope"></span>Send us an <br> inbox message</a>
            </div>
        </div>
    </section>



