<!DOCTYPE html>
<html>
<head>
  <title>Ghwebsite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <% set_meta_tags :keywords => %w[Adeyemi Fatoki MD Great Heights Family Medicine Weight Loss Doctor Bariatrics Drug Treatment Immigration Physicals Methadone Suboxone Chicago South Suburbs Northwest Indiana Ottawa Illinois Addiction Phentermine Green Card US Citizenship] %>
  <%= csrf_meta_tags %>

</head>
<body>


<%= render "layouts/header" %>



<% if flash[:notice] %>
  <p id="flash_notice" class="messages notice"><%= flash[:notice] %></p>
  <script type="text/javascript">
    $(function() {
      $('p#flash_notice').delay(5000).fadeOut('slow');
    });
  </script>
<% end %>
<% if flash[:alert] %>
  <p id="flash_errors" class="messages alert"><%= flash[:alert] || flash[:alert] %></p>
  <script type="text/javascript">
    $(function() {
      $('p#flash_errors').delay(5000).fadeOut('slow');
    });
  </script>
<% end %>
<% flash[:alert] = flash[:alert] = flash[:alert] = nil %>

<!-- <%#= render 'layouts/social_deals' %> -->

<%= yield %>

<%= render "layouts/footer" %>


</body>

</html>


